<%- include('partials/header'); -%>

<h1 class="about-heading">About Book Any Car</h1>
<%- include('partials/about-com');-%>

<%- include('partials/why');-%>


<%- include('partials/slide');-%>
<%- include('partials/footer'); -%>