<%- include('partials/header'); -%>

<div class="home-intro">
    <h2>Select the car you want</h2>
</div>

<%- include('partials/slide');-%>

<div class="car-list-container">
    <% carList.forEach((car)=>{ %>

    <div class="car-card">
        <div class="car-img">
            <img src="/car-images/<%= car.img %>">
        </div>

        <div class="car-about-sec">
            <div class="car-name">
                <span>Car Details: </span>
                <%= car.car %>
            </div>
            <div class="car-model">
                <span>Car Model: </span>
                <%= car.model %>
            </div>
            <div class="car-fair">
                <span>Car fair Price: </span>
                <%= car.fair %>
            </div>
            <button class="book-car">Book Now</button>
        </div>



    </div>

    <% }) %>
</div>

<%- include('partials/footer'); -%>