<%- include('partials/header') %>

<div class="user-options">
<a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
<a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
</div>
<%- include('partials/about-com');-%>
<%- include('partials/why');-%>
<%- include('partials/slide');-%>
<%- include('partials/footer') %>